<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="es">
<head>
    <META http-equiv=Content-Type content="text/html;charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/turnero/css/style2.css">
    <link href="/turnero/main.css" rel="stylesheet">
    <link href="/turnero/alertify.css" rel="stylesheet">
    <link href="/turnero/alertifyBoostrap.css" rel="stylesheet">
    <script src="/turnero/alertify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <style>
        @keyframes iconBlink {
            0%, 100% {
            opacity: 1;
            }
            50% {
                opacity: 0;
            }
        }
        .icon-titling {
            animation: iconBlink 1s infinite;
        }
    </style> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">Men&uacute</span>
        </div>
        <div class="menu-items" id="menu">
            <!-- aca muestra menu -->        
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <div class="activity">
                <div class="title mb-1 mt-4">
                    <h4 class="text-primary mt-0 ml-3 mb-0">Municipalidad de Perez</h4>
                    <h5 class="text mt-0 mb-1 ml-3 text-secondary font-weight-bold">CARNET DE CONDUCIR - TURNOS </h5>
                </div>
            </div>
            <div class="text-right">
                <h6 class="navbar-text text-primary mb-0" id="username">
                    <!-- aca muestra contribuyente logueado -->
                </h6>
            </div>
        </div>
        <div class="dash-content">
            <div class="mt-5">
                <div class="alert alert-info alert-dismissible fade show text-left">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><strong><i class="fas fa-exclamation-triangle fa-lg mr-2 icon-titling"></i>ADVERTENCIA! - Antes de sacar tu turno!</strong></p>
                    <p>Por favor, aseg&uacute;rate de revisar los <a href="PasosCarnet.html">Pasos para Obtener o Renovar el Carnet de Conducir</a> 
                       en el men&uacute; "Pasos Carnet" antes de proceder.
                    Estos pasos te ayudar&aacute;n a conocer las condiciones y requisitos previos necesarios para obtener
                         o renovar tu carnet de conducir.</p>
                </div>
                <div class="position-relative form-row">
                    <div class="col-md-12 text-center" id="loading">
                            <!-- Imagen procesando-->
                    </div>
                </div>
                <div id="informacion">
                    <!-- aca muestra informacion para el contribuyente -->
                </div>
                <div id="infoError">
                    <!-- aca muestra mensajes de error -->
                </div>
                <div id="requisitos">
                    <!-- aca muestra los requisitos del tramite -->
                </div>
            </div>
            <div class="input-group col-md-4" id="muestraFecha">
                <input type="date" class="form-control" id="fechaInput">
                <div class="input-group-append">
                  <button 
                    class="btn btn-outline-secondary" 
                    type="button" 
                    id="botonCalendario"
                    >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="position-relative form-row mt-1 mb-0 ml-2">
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend" id="botonesFecha">
                            <!-- aca estan los botones para avanzar y retroceder en el calendario -->
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-0 mt-4">

            <div class="container mt-5 col-md-12">
                <div class="row" id="tarjetas">
                    <!-- aca se muestran los turnos disponibles -->
                </div>
            </div>
        </div>
    </section>
<script src="/turnero/assets/scripts/main.js"></script>
<script src="/turnero/constant/settingStart.js"></script>
<script src="/turnero/controller/Turnos/Turnos.js"></script> 
<script>
	window.addEventListener("load", function() { 
        getBuildMain(); 
        getTurnos();
});
</script>
</body> 
</html>