<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="es">
<head>
    <META http-equiv=Content-Type content="text/html;charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/turnero/css/style2.css">
    <link href="/turnero/main.css" rel="stylesheet">
    <link href="/turnero/alertify.css" rel="stylesheet">
    <link href="/turnero/alertifyBoostrap.css" rel="stylesheet">
    <script src="/turnero/alertify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    
    
     
    <!----===== Iconscout CSS ===== -->
    

    <!--<title>Admin Dashboard Panel</title>--> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">Men&uacute;</span>
        </div>

        <div class="menu-items" id="menu">
            
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="text-right">
                <h6 class="navbar-text text-primary mb-0" id="username">
           
                </h6>
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        
        <div class="dash-content">
            <div class="activity">
                <div class="title">
                    <span class="text mb-0">NUEVO DIA DE TURNO <span id="empresa"></span></span>
                </div>
            </div>


            <div class="position-relative form-row mt-4">
                <div class="col-md-12 text-center" id="loading">
                         <!-- Imagen procesando-->
                </div>
            </div>

            <div class="text-danger" id="informe">
                            
            </div>

            <div class="position-relative form-row mt-5">
                <div class="col-md-3">
                    <label for="numeroLabel" class="">Identificador</label>
                    <div>
                        <input 
                            name="identificador"  
                            id="identificador" 
                            placeholder="Identificador"
                            type="number" 
                            class="form-control form-control"
                            autofocus
                            required
                        >
                        <div id="requiredIdentificador"></div>
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="numeroLabel" class="">D&iacute;a</label>
                    <div>
                        <div class="input-group mb-2">
                            <select 
                                name="dia" 
                                id="dia" 
                                class="form-control form-control" 
                                data-live-search="true" 
                                required
                                
                            >
                            </select>
                            
                        </div>
                    </div>
                </div>

                
                <div class="col-md-6">
                    <label for="resumenText" class="">Sector</label>
                    <div class="input-group mb-2">
                        <select 
                            name="codigoSector" 
                            id="codigoSector" 
                            class="form-control" 
                            data-live-search="true" 
                            required
                        >
                        </select>
                                                
                    </div>
                </div>

            </div>

            <div class="position-relative form-row">
                <div class="col-md-12">
                    <label for="numeroLabel" class="">Descripci&oacute;n</label>
                    <div>
                        <input 
                            name="nombreTurno"  
                            id="nombreTurno" 
                            placeholder="Descripci&oacute;n del turno"
                            type="text" 
                            class="form-control form-control"
                            required
                        >
                        <div id="requiredNombreTurno"></div>
                    </div>
                    
                </div>
            </div>
                
            <div class="position-relative form-row">
                <div class="col-md-3">
                    <label for="resumenText" class="">Hora Desde</label>
                    <input 
                        name="horaDesde" 
                        id="horaDesde" 
                        placeholder="HH:MM" 
                        maxlength="5"
                        type="text" 
                        class="form-control form-control"
                    >
                    <div id="requiredHoraDesde"></div>
                </div>

                <div class="col-md-3">
                    <label for="resumenText" class="">Hora Hasta</label>
                    <input 
                        name="horaHasta" 
                        id="horaHasta" 
                        placeholder="HH:MM" 
                        maxlength="5"
                        type="text" 
                        class="form-control form-control"
                    >
                    <div id="requiredHoraHasta"></div>
                </div>

                <div class="col-md-3">
                    <label for="resumenText" class="">Cantidad de Turnos</label>
                    <input 
                        name="cantidadTurnos" 
                        id="cantidadTurnos" 
                        placeholder="Turnos a entregar" 
                        type="text" 
                        class="form-control form-control"
                    >
                    <div id="requiredHoraHasta"></div>
                </div>

            </div>

            <div class="position-relative form-row">

                <div class="col-md-2 ml-5 mt-4"> 
                    <label class="">
                        <input 
                            type="checkbox" 
                            class="form-check-input" 
                            id="general"
                        >
                        Charla General
                    </label>
                </div>

                <div class="col-md-2 ml-5 mt-4"> 
                    <label class="">
                        <input 
                            type="checkbox" 
                            class="form-check-input" 
                            id="moto"
                        >
                        Charla Moto
                    </label>
                </div>

                <div class="col-md-2 ml-5 mt-4"> 
                    <label class="">
                        <input 
                            type="checkbox" 
                            class="form-check-input" 
                            id="profesional"
                        >
                        Charla Profesional
                    </label>
                </div>

            </div>

            <hr class="my-0 mt-4">
            
            <button class="btn btn-primary mt-2"  style="width: 10rem;" id="btn-create">Guardar Cambios</button>
            <button class="btn btn-danger mt-2" style="width: 6rem;" type="button" onclick="location.href='javascript:history.back()'" target="_blank">Cancelar</button>
        </div>
    </section>
<script src="/turnero/assets/scripts/main.js"></script>
<script src="/turnero/constant/settingStart.js"></script>
<script src="/turnero/controller/Administracion/GeneraTurnosController.js"></script>
<script>
	window.addEventListener("load", function() { 
        getTurno();
        getBuildMain();
});
</script>
</body>
</html>
  